*/15 * * * * bash /home/wikedsikj/Test_Jooble/bash.sh access.log 
0 1 */1 * *  bash /home/wikedsikj/Test_Jooble/bash.sh chunga.log
0 1 */1 * *  bash /home/wikedsikj/Test_Jooble/bash.sh custom.log
0 1 */1 * *  bash /home/wikedsikj/Test_Jooble/bash.sh error.log
0 1 */1 * *  bash /home/wikedsikj/Test_Jooble/bash.sh seo.log
